.main-content{
    max-width: 1100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.copyright{
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: #fff;
    border-top: 4px solid #5e5e5e;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: inherit;
    text-decoration: inherit;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
  
.grid-container{
    display: grid;
    width: 500px;
    height: 500px;
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  
.grid-item{
    user-select: none;
    border: 1px solid #ddd;
    text-align: center;
}

